
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.video-container {
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.botao-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

h2 {
    font-weight: 700;
    color: #343a40;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
}
